body{
text-align: center;
background-color: white;
justify-content: center;
align-items: flex-start;
}

h1{
    flex-direction: column;
    flex-wrap: wrap;
    background-color: blue;
    border: 0;
    height: 50px;
    justify-content: right;
    color: white;
    text-align: center;
}

button{
    flex-direction: column;
    background-color: rgb(92, 77, 228);
    border: 0;
    height: 30px;
    width: 300px;
    color: white;
    justify-content: center;
}

footer{
    flex-direction: column;
    background-color: blue;
    height: 20px;
    color: white;
    text-align: center;
}